

main > .section.form-container {
    padding: 80px 0;
    margin: 40px auto 80px;
    background: var(--color-backg-blue-light);
    display: grid;
    grid-template-areas: "fullform";
}

.section.form-container .form-wrapper {
    padding: 0;
    width: 100%;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr;
    max-width: var(--layout-content-lg);
}

/* ONLY FORM REGISTRATION */
.section.form-container .form-wrapper .form.registration.block,
.section.form-container .form-wrapper .form.popup.block,
.section.form-container .form-wrapper .form.contact.block {
    grid-column: 2/2;
}

.section.form-container .form-wrapper .form.popup.block {
    background: var(--color-white);
}

.form.block form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 25px;
}

.form.popup.block form {
    flex-direction: column;
}

.form.block form .field-wrapper {
    border-radius: var(--radiusitems);
    background: var(--color-white);
    display: flex;
    flex-direction: column-reverse;
    box-sizing: border-box;
    padding: 12px 16px;
    height: 70px;
    flex: 1;
}

.form.block form .field-wrapper input {
    height: auto;
}

.form.block form .field-wrapper input,
.form.block form .field-wrapper textarea {
    border: none;
    padding: 0;
}

.form.popup.block form .field-wrapper,
.form.popup.block form .field-wrapper input,
.form.popup.block form .field-wrapper select {
    background: var(--color-grayec);
    border: none;
}

.form.block form .field-wrapper.submit-wrapper label {
    grid-area: firstelement;
}
.form.popup.block form .field-wrapper.file-wrapper input {
    width: 100%;
}

.form.block form .field-wrapper input[type="checkbox"] {
    border: 2px solid var(--color-graya2);
    background: var(--color-white);
}

.form.block form .field-wrapper input[type="checkbox"]:checked {
    background: var(--color-secondary);
}

.form.block form .field-wrapper label {
    font-size: var(--body-font-p-11);
    line-height: var(--body-font-p-11);
    font-weight: 500;
}

.form.block form .field-wrapper.submit-wrapper {
    justify-content: flex-end;
    height: auto;
}

.form.block form .field-wrapper.submit-wrapper .button {
    margin: 0;
    width: 100%;
    min-width: 257px;
    font-weight: 700;
    padding: 20px 27px;
    line-height: 19.2px;
    border-radius: var(--radius-16);
    font-size: var(--body-font-size-s);
}

.form.contact.block form .field-wrapper.text-wrapper:nth-child(3) {
    flex: 1;
    background: red;
}

.form.block form .field-wrapper.text-wrapper:nth-child(3),
.form.block form .field-wrapper.text-area-wrapper,
.form.block form .field-wrapper.checkbox-wrapper, 
.form.block form .field-wrapper.submit-wrapper {
    display: grid;
    flex: unset;
    width: 100%;
    grid-template-areas: "firstelement";
}

.form.block form .field-wrapper.checkbox-wrapper label {
    padding: 0 0  0 47px;
    font-weight: 500;
    font-size: var(--body-font-p-18);
    line-height: 22.5px;
}

.form.block form .field-wrapper.text-area-wrapper label,
.form.block form .field-wrapper.checkbox-wrapper label, 
.form.block form .field-wrapper.checkbox-wrapper input,
.form.block form .field-wrapper.text-wrapper:nth-child(3) label {
    grid-area: firstelement;
}

.form.block form .field-wrapper.submit-wrapper,
.form.block form .field-wrapper.checkbox-wrapper {
    background: none;
    border-radius: 0;
    padding: 0;
}

.form.block form .field-wrapper.text-area-wrapper {
    min-height: 140px;
}

.form.block form .field-wrapper.checkbox-wrapper {
    align-items: center;
    height: auto;
}

@media (width <= 1024px) {
    main > .section.form-container {
        padding: 0;
    }

    .section.form-container .form-wrapper {
        grid-template-columns: 1fr;
        padding: 64px 24px;
    }

    /* ONLY FORM REGISTRATION*/
    .section.form-container .form-wrapper .form.registration.block,
    .section.form-container .form-wrapper .form.popup.block {
        grid-column: 1/2;
    }

    .form.block form .field-wrapper.checkbox-wrapper label {
        font-size: var(--body-font-p-16);
        line-height: 19.2px;
    }

    .form.block form .field-wrapper.submit-wrapper {
        justify-content: center;
        margin: 60px 0 0;
    }
}