
main .section div.hero-banner-wrapper {
    display: block;
    max-width: none;
    padding: 0;
}

.hero-banner.block > div {
    display: grid;
    grid-template-areas: "herobanner";
    position: relative;
    max-width: none;
    height: 600px;
}

.hero-banner.block > div::after {
    z-index: 1;
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
}

.hero-banner.block > div div {
    position: relative;
    grid-area: herobanner;
    align-self: center;
    height: 600px;
}

.hero-banner.block > div div:last-child {
    height: auto;
    z-index: 3;
}

.hero-banner.block > div div picture img {
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.hero-banner.block > div div h2 {
    color: var(--background-color);
    font-size: var(--heading-font-56);
    line-height: 56px;
    position: relative;
    letter-spacing: -4px;
    font-weight: 800;
    z-index: 1;
}

.hero-banner.block > div div h2 strong {
    font-weight: 800;
}

.hero-banner.block > div div h2 + p {
    font-size: var(--body-font-p-24);
    color: var(--background-color);
    line-height: 28.8px;
    position: relative;
    font-weight: 700;
    z-index: 1;
    margin: 0;
}

.hero-banner.block >div div:last-child p picture img {
    max-width: 200px;
    position: relative;
    margin-bottom: 40px;
}

@media (width >= 1025px) {
    main .section.hero-banner-container {
        margin-bottom: 120px;
    }

    .hero-banner.block > div::after {
        background: var(--bkg-gradient-herobanner);
        left: 0;
        top: 0; 
    }
    
    .hero-banner.block > div div:last-child {
        padding: 0 80px;
    }

    .hero-banner.block > div div h2 {
        margin: 0 0 25px;
    }
}

@media (width <= 1024px) {
    .hero-banner.block > div {
        height: 770px;
    }

    .hero-banner.block > div div {
        height: 770px;
        align-self: end;
    }

    .hero-banner.block > div::after {
        background: var(--bkg-gradient-herobanner-mobile);
    }
    
    .hero-banner.block > div div:last-child {
        padding: 0  28px 25px;
    }

    .hero-banner.block > div div h2 {
        margin: 0 0 25px;
    }
    
    .hero-banner.block > div div h2 + p {
        font-size: var(--body-font-p-18);
        line-height: 22.5px;
        font-weight: 500;
    }
}

@media (width <= 375px) {
    .hero-banner.block > div div h2 {
        font-size: 50px;
        list-style: none;
    }
}