/* stylelint-disable no-empty-source */

header.header-wrapper {
    position: relative;
    height: 92px;
}

header.header-wrapper .header.block {
    background: var(--color-primary);
    box-sizing: border-box;
    padding: 24px 32px;
    position: fixed;
    display: flex;
    height: 92px;
    width: 100%;
    z-index: 4;
    left: 0;
}

#nav {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 1376px;
    margin: 0 auto;
    width: 100%;
}

#nav  .section.home-icon a.button {
    padding: 0;
    margin: 0;
    border: none;
    line-height: normal;
    background: transparent;
}

#nav .section .default-content-wrapper ul li ul li ul picture img {
    max-width: 160px;
    max-height: 64px;
    width: auto;
}

#nav  .section.home-icon a.button img:hover {
    opacity: 0.8;
}

#nav .section:first-child {
    display: none;
}

#nav .section:nth-child(2) {
    width: 100%;
    display: flex;
    width: auto;
}

#nav .section:nth-child(2) .default-content-wrapper {
    display: flex;
    column-gap: 32px;
}

#nav .section:nth-child(3) {
    width: 100%;
    display: flex;
    justify-content: center;
    width: auto;
    margin: 0 auto;
    text-align: center;
}

#nav .section:nth-child(3) .button-container {
    transform: translate(-20px, 7px);
}

#nav .section:last-child {
    margin-left: 29px;
}

#nav .section ul {
    display: flex;
    column-gap: 32px;
    list-style: none;
    line-height: 19.2px;
    align-items: center;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.default-content-wrapper >ul > li a {
    text-decoration: none;
}

#nav .section ul li a {
    color: var(--color-white);
    font-size: var(--body-font-p-16);
}

#nav .section ul >li:nth-child(2) ul {
    background: var(--color-primary);
    position: absolute;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
    width: 100%;
    top: 92px;
    left: 0;
}

.default-content-wrapper >ul > li {
    padding: 12px 15px;
}

header .default-content-wrapper >ul > li:hover {
    background: var(--color-secondary);
    border-radius: var(--radiusitems);
}

#nav .section ul >li:nth-child(2) >ul >li {
    position: relative;   
}

#nav .section ul >li:nth-child(2) >ul >li a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

#nav .section .default-content-wrapper .icon-footer-icon {
    width: 44px;
    height: 44px;
}

#nav .section .default-content-wrapper ul li ul li ul {
    border-radius: var(--radiuspopup);
    background: var(--color-white);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    column-gap: normal;
    min-height: 242px;
    max-width: 208px;
    position: static;
}

/* background: pink; */
#nav .section .default-content-wrapper >ul >li:nth-child(2) > ul {
    padding: 117px 0 80px;
}

#nav .section .default-content-wrapper >ul >li:nth-child(2) > ul button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: none;
    position: absolute;
    max-width: 1420px;
    border-radius: 0;
    width: 100%;
    top: 0;
}

#nav .section .default-content-wrapper >ul >li:nth-child(2) > ul button::before {
    content: 'Cerrar';
    font-weight: 700;
    margin-right: 20px;
    line-height: 19.2px;
    font-size: var(--body-font-p-16);
}

#nav .section .default-content-wrapper ul li ul li ul li {
    margin-top: auto;
}

#nav .section .default-content-wrapper ul li ul li ul li:last-child {
    background: var(--color-gray45);
    font-size: var(--body-font-p-13);
    border-radius: 0 0 var(--radiuspopup) var(--radiuspopup);
    color: var(--color-white);
    line-height: 15.85px;
    font-weight: 600;
    padding: 17px;
}

#nav .section:nth-child(1) .default-content-wrapper {
    display: flex;
}

#nav .section:nth-child(1) .default-content-wrapper > ul >li:nth-child(2) > ul >li {
    min-width: 208px;
}

#nav .section:nth-child(1) .default-content-wrapper > ul >li:nth-child(2):hover > ul {
    display: flex;
    width: 100%;
}

#nav .section .default-content-wrapper ul li ul li:nth-child(2) ul li:last-child {
    word-break: break-all;
}

@media (width <= 960px) {
    header.header-wrapper {
        height: 72px;
    }

    header.header-wrapper .header.block {
        padding: 24px 0;
    }

    #nav {
        display: grid;
        width: 100%;
        justify-content: unset;
        grid-template-areas: "mobileheader";
        grid-template-columns: 1fr 1fr 1fr;
    }

    #nav .section:first-child {
        display: grid;
        grid-row-start: 1;
        grid-column: 1/ 1;
        padding-left: 32px;
        z-index: 1;
    }

    #nav >.section:nth-child(2) {
        z-index: 1;
        width: 100%;
        grid-column: 1 / 5;
        grid-row-start: 3;
        margin: 10px 0 0;
        box-sizing: border-box;
    }

    #nav .section .default-content-wrapper >ul >li:nth-child(2) > ul button {
        top: 12px;
        right: 24px;
    }

    #nav .section .default-content-wrapper >ul >li:nth-child(2) > ul button::before {
        margin: 0;
        content: '';
        width: 40px;
        height: 40px;
        position: absolute;
        background: var(--color-link-15);
        border-radius: var(--radius-12);
        z-index: -1;
        right: 10px;
    }

    #nav .section:nth-child(3) .button-container {
        transform: none;
    }

    #nav .section ul {
        flex-direction: column;
    }

    #nav >.section:first-child .default-content-wrapper >ul {
        flex-direction: column;   
    }

    #nav .section ul li {
        width: 100%;
        box-sizing: border-box;
        border-bottom: 1px solid var(--color-gray45); 
    }

    #nav .section ul li.active {
        padding: 0;
        background-color: var(--color-primary);
    }

    #nav .section ul li.active >a {
        font-size: var(--body-font-p-28);
        line-height: var(--body-font-p-28);
        font-weight: 800;
        display: block;
        width: 100%;
        text-align: center;
    }

    #nav .section ul li.active ul li {
        border: none;
    }

    #nav .section ul >li:nth-child(2) >ul >li {
        min-width: 208px;
    }

    #nav .section .default-content-wrapper ul li ul li ul li {
        border: 0;
    }

    #nav .section:nth-child(2) .default-content-wrapper ul:first-child >li:last-child ul li ul li:first-child {
        text-align: center;
    }

    #nav .section:nth-child(2) .default-content-wrapper {
        /* display: grid; */
        justify-content: flex-start;
        flex-direction: row;
        overflow-y: scroll;
    }

    #nav .section:nth-child(2) .default-content-wrapper,
    #nav .section:nth-child(4) .default-content-wrapper {
        flex-direction: column;
    }

    /* display: flex; SE PONE ESTE FLEX PARA AMBOS HIJOS 2 Y 4 SE DEBEN OCULTAR CON SCRIPT */
    #nav >.section:nth-child(2),
    #nav >.section:nth-child(4) {
        width: 100%;
        display: none;
        flex-direction: column;
        background: var(--color-primary); 
    }

    #nav >.section:nth-child(4) {
        z-index: 1;
        grid-row-start: 4;
        grid-column:1 / 5;
    }

    #nav .section:last-child {
        margin: 0;
        display: flex;
        justify-content: flex-end;
        padding-right: 32px;
    }

    #nav .section .default-content-wrapper >ul >li:nth-child(2) > ul {
        padding: 24px;
        display: flex;
        position: unset;
        box-sizing: border-box;
        justify-content: flex-start;
        flex-direction: row;
        overflow-y: scroll;
    }

    #nav .default-content-wrapper.mobile-content {
        height: 100vh;
        background: var(--color-primary);
    }
}