/* stylelint-disable no-empty-source */


.footer-wrapper {
    justify-content: center;
}

.footer.block .section.contact-container {
    max-width: var(--layout-content);
    margin: 80px auto 0;
}

.footer.block .contact.section-contact.block > div div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.footer.block .section.contact-container h3 {
    font-size: var(--head-font-32);
    line-height: var(--head-font-32);
    margin: 0 0 13px;
}

.footer.block .section.contact-container h3 strong {
    font-weight: 800;
}

.footer.block .section.contact-container p {
    margin: 0;
}

.footer.block .section.contact-container p:nth-child(2) {
    font-size: var(--body-font-p-16);
    margin-bottom: 40px;
    line-height: 19.2px;
    font-weight: 600;
}

.footer.block .section.contact-container p:nth-child(2) span {
    vertical-align: middle;
    margin-right: 14px;
}

.footer.block .section.contact-container p:nth-child(2) span a {
    text-decoration: underline;
}

.footer.block .section.contact-container p:nth-child(3) {
    font-size: var(--body-font-p-20);
    margin-bottom: 40px;
    line-height: 24px;
    font-weight: 700;
}

.footer.block .section.contact-container p:last-child {
    line-height: normal;
    display: flex;
    column-gap: 30px;
    min-height: 32px;
}

.footer.block .section.contact-container p:last-child span img {
    width: 32px;
    height: 32px;
}

.footer.block .section:nth-child(2) {
    background: var(--color-primary);
    margin-top: 80px;
    padding-bottom: 100px;
}

.footer.block .section:nth-child(2) .default-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 66px 0 0;
}

.footer.block .section:nth-child(2) .default-content-wrapper p {
    margin: 0 0 163px;
}

.footer.block .section:nth-child(2) .default-content-wrapper p span {
    min-height: 40px;
    min-width: 34.29px;
}

.footer.block .section:nth-child(2) .default-content-wrapper ul li,
.footer.block .section:nth-child(2) .default-content-wrapper ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer.block .section:nth-child(2) .default-content-wrapper > ul {
    display: flex;
    margin: 0;
    padding: 0;
    column-gap: 65px;
}

.footer.block .section:nth-child(2) .default-content-wrapper > ul > li {
    color: var(--color-white);
    font-size: var(--body-font-p-20);
    line-height: 24.38px;
    font-weight: 700;
}

.footer.block .section:nth-child(2) .default-content-wrapper > ul > li ul {
    margin-top: 48px;
}

.footer.block .section:nth-child(2) .default-content-wrapper > ul > li ul li a {
    color: var(--color-white-op5);
    font-size: var(--body-font-p-16);
    margin-bottom: 25px;
    line-height: 19.5px;
    font-weight: 700;
    display: block;
}

.footer.block .section:nth-child(2) .default-content-wrapper > ul > li ul li a:not(:last-of-type) {
    margin-bottom: 25px;
}

.footer.block .section.logosleft-container {
    background: var(--color-black19);
    display: flex;
    flex-direction: row;
    padding: 30px 130px;
}

.footer.block .section.logosleft-container .logosleft div p {
    display: flex;
    column-gap: 75px;
    margin: 0;
}

.footer.block .section.logosleft-container .logosrigth div p  {
    display: flex;
    column-gap: 30px;
    margin: 0;
}

.footer.block .section.logosleft-container span.icon {
    width: auto;
    height: auto;
}   

.footer.block .section.logosleft-container .logosleft-wrapper {
    display: flex;
    justify-content: flex-start;
    flex: 1;
}

.footer.block .section.logosleft-container .logosrigth-wrapper {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
